<h3 style="font-style: italic">
  todo list component
</h3>
<!--<app-todo-list-item></app-todo-list-item>-->
<!--<app-todo-list-item></app-todo-list-item>-->
<!--<app-todo-list-item></app-todo-list-item>-->
<!--<app-todo-list-item></app-todo-list-item>-->

<!--==========================attribute=================-->
<!--<div app-todo-list-item></div>-->
<!--<div app-todo-list-item></div>-->
<!--<div app-todo-list-item></div>-->
<!--<div app-todo-list-item></div>-->
<!--==========================class=================-->
<input class="form-control mb-3" placeholder="enter task name" (input)="changeTaskName($event)">
<button class="btn btn-success"
        [disabled]="!isAllowNewTask()"
        [class.btn-danger]="isDanger"
(click)="addNewTask()">add new Task</button>
<h1>{{newTask}}</h1>
<h1 [class.d-none]="!showNewTask">{{newTask}}</h1>
<div class="app-todo-list-item"></div>
<div class="app-todo-list-item"></div>
<div class="app-todo-list-item"></div>
<div class="app-todo-list-item"></div>
<div class="app-todo-list-item"></div>
